<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if logged_in? %>
      <h3><%= current_user.email %></h3>
      <%= button_to "Log Out", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_url %>
      <%= link_to "Login", new_session_url %>
    <% end %>
  </header>

  <body>
    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
